/*
* General
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

body {
  color: #fff;
  background-color: #fff;
  font-family: 'Fira Code', monospace;
  animation: y-scroll 7s;
}

/* disable y-scroll while slider is in process*/
@keyframes y-scroll {
  0% {
    background-color:  rgba(0, 0, 0, 1);
    overflow-y: hidden;
  }
  80% {
    background-color:  rgba(0, 0, 0, 0.8);
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

#root {
  animation: gradient 60s ease-in-out infinite;
  animation-delay: 7s;
  transition: 3s;
  background-color: rgba(0, 0, 0, 0.5);
}

/* background gradient animation */
@keyframes gradient {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  10%{
    background-color: rgba(0, 0, 0, 1);
  }
  20%{
    background-color: rgba(51, 153, 51, 0.5);
  }
  30%{
    background-color: rgba(51, 153, 51, 1);
  }
  40%{
    background-color: rgba(102, 102, 255, 0.5);
  }
  50%{
    background-color: rgba(102, 102, 255, 1);
  }
  60%{
    background-color: rgba(204, 102, 0, 0.5);
  }
  70%{
    background-color: rgba(204, 102, 0, 1);
  }
  80%{
    background-color: rgba(255, 0, 0, 0.5);
  }
  90%{
    background-color: rgba(255, 0, 0, 1);
  }
  100%{
    background-color: rgba(0, 0, 0, 0.5);
  }
}

a {
  color: #fff;
}

/*
*  Header
*/

header {
  justify-content: center;
  height: calc(270px + 20vh);
  animation: header-slider 3s ease;
  animation-delay: 6s;
}

header #avatar {
  background-image: url('img/avatar.png');
  width: 270px;
  height: 270px;
  border-radius: 270px;
  position: absolute;
  top: 5vh;
  left: calc((100vw - 270px) / 2);
  animation: avatar-roller 6s ease-in-out;
}

/* Timed header slide effect */
@keyframes header-slider {
  from {
    height: 100vh;
  } 
  to {
    height: calc(270px + 20vh);
  }
}

/* Timed avatar rollin-in effect */
@keyframes avatar-roller {
  0% {
    left: -540px;
    transform: rotate(-360deg);
  }
  100% {
    left: calc((100vw - 270px) / 2);
    transform: rotate(0deg);
  }
}

#navigation {
  animation: hide 7s ease;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

header > ul > li:first-child {
  position: relative;
  top: calc(270px + 10vh);
  margin: auto;
}

#hamburger {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0 0.3em 0.2em 0.3em;
  background-color: rgba(0, 0, 0, 0.8);
}

#hamburger > div {
  width: 34px;
  height: 34px;
}

#hamburger div span {
  border-bottom: 3.5px solid #fff;
  width: 34px;
  height: 1px;
  display: block;
  margin: 8px 0 ;
}

#navigation nav ul {
  position: fixed;
  top: 5em;
  right: 1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h1.typewriter, h2.typewriter {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
}

h1.typewriter {
  animation: 
    typing 3s steps(16, end),
    blink-caret .75s step-end infinite;
}

h2.typewriter {
  color: transparent;
  animation: 
    typing 3s steps(20, end),
    blink-caret .75s step-end infinite;
    animation-delay: 3s;
}

@keyframes typing {
  from { 
    width: 0;
  }
  to { 
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { 
    border-color: transparent;
    color: #fff; 
  }
  50% { 
    border-color: transparent;
    color: #fff;  
  }
}

/*
* Main
*/

main {
  animation: hide 7s;
  margin: auto;
}

/* hide main content for 10 secs*/
@keyframes hide {
  0% {  
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main section {
  display: flex;
  flex-wrap: wrap;
}

main #bio {
  margin: 25px 0;
  justify-content: center;
  background-color: #000;
}

main #projects {
  max-width: 1600px;
  margin: auto;
}

main section figure {
  max-width: 325px;
  min-width: 275px;
  padding: 0 1em 1em 1em;
}

main #bio figure {
  background-color: #000;
}

main #projects figure {
  margin: 25px auto;
  background-color: rgba(255,255,255,1);
  color: #000;
}

figure {
  margin: 0;
}

main section figure a div {
  position: relative;
  margin-top: 1em;
}

main section figure a div h3 {
  position: absolute;
  bottom: -1em;
  background-color: #000;
  left: -0.5em;
  padding: 1em 2em 0.25em 0.5em;
}

@media screen and (min-width: 900px) {
  main #bio figure{
    margin:0 3vw;
  }
}
/*
* tilt animations
*/
main #projects figure {
  animation: tilt 10s ease-in-out infinite;
}

main #projects figure:nth-child(2), main #projects figure:nth-child(6) {
  animation: tilt2 15s ease-in-out infinite;
}

main #projects figure:nth-child(3), main #projects figure:nth-child(7) {
  animation: tilt2 10s ease-in-out infinite;
}

main #projects figure:nth-child(4), main #projects figure:nth-child(8) {
  animation-duration: 15s;
}

/* tilt the items */
@keyframes tilt {
  0% {
    transform: skew(0);
  }
  30% {
    transform: skewX(-3deg);
    transform: skewY(-3deg);
  }
  70% {
    transform: skewX(2deg);
    transform: skewY(2deg);
  }
  100% {
    transform: skew(0deg);
  }
}
@keyframes tilt2 {
  0% {
    transform: skew(0);
  }
  30% {
    transform: skewX(2deg);
    transform: skewY(2deg);
  }
  70% {
    transform: skewX(-3deg);
    transform: skewY(-3deg);
  }
  100% {
    transform: skew(0deg);
  }
}

/*
* Footer
*/

footer {
  text-align: center;
}