/*
* General
*/
a {
  color: #fff;
}

/*
*  Header
*/

header {
  justify-content: center;
  height: 55vh;
  animation: header-slider 3s ease;
  animation-delay: 6s;
}

header #avatar {
  background-image: url('img/avatar.png');
  width: 270px;
  height: 270px;
  border-radius: 270px;
  position: absolute;
  top: 5vh;
  left: calc((100vw - 270px) / 2);
  animation: avatar-roller 6s ease-in-out;
}

/* Timed header slide effect */
@keyframes header-slider {
  from {
    height: 100vh;
  } 
  to {
    height: 55vh;
  }
}

/* Timed avatar rollin-in effect */
@keyframes avatar-roller {
  0% {
    left: -540px;
    transform: rotate(-360deg);
  }
  100% {
    left: calc((100vw - 270px) / 2);
    transform: rotate(0deg);
  }
}


header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
}

header > ul > li:first-child {
  position: relative;
  top: 48vh;
  margin: auto;
}

#hamburger {
  position: fixed;
  top: 1em;
  right: 1em;
  padding: 0 0.3em 0.2em 0.3em;
  background-color: rgba(0, 0, 0, 0.8);
}

#hamburger > div {
  width: 34px;
  height: 34px;
}

#hamburger div span {
  border-bottom: 3.5px solid #fff;
  width: 34px;
  height: 1px;
  display: block;
  margin: 8px 0 ;
}

#navigation nav ul {
  position: fixed;
  top: 5em;
  right: 1em;
}

.hide {
  display: none;
}

.show {
  display: block;
}

h1.typewriter, h2.typewriter {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .1em;
}

h1.typewriter {
  animation: 
    typing 3s steps(16, end),
    blink-caret .75s step-end infinite;
}

h2.typewriter {
  color: transparent;
  animation: 
    typing 3s steps(20, end),
    blink-caret .75s step-end infinite;
    animation-delay: 3s;
}

@keyframes typing {
  from { 
    width: 0;
  }
  to { 
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to { 
    border-color: transparent;
    color: #fff; 
  }
  50% { 
    border-color: transparent;
    color: #fff;  
  }
}

/*
* Main
*/

body {
  background-color: #000;
  color: #fff;
  animation: y-scroll 7s;
}

/* disable y-scroll while slider is in process*/
@keyframes y-scroll {
  0% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

main {
  max-width: 900px;
  animation: hide 7s;
}

/* hide main content for 10 secs*/
@keyframes hide {
  0% {  
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main section {
  display: flex;
  flex-wrap: wrap;
}

main section figure {
  max-width: 400px;
  min-width: 275px;
  margin: 25px;
}

/*
* Footer
*/

footer {
  text-align: center;
}