.image {
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.asteroids {
    background-image: url('img/astroids.jpg');
}

.hagl {
    background-image: url('img/hagl.jpg');
}

.audiopile {
    background-image: url('img/audiopile.jpg');
}

.weather {
    background-image: url('img/weather.jpg');
}

.tic-tac-toe {
    background-image: url('img/tic-tac-toe.jpg');
}

.bouncy-ball {
    background-image: url('img/ball.jpg');
}

.cafe {
    background-image: url('img/dons.jpg');
}

.kitty {
    background-image: url('img/kitty.jpg');
}

.battle-sim {
    background-image: url('img/battle-sim.jpg');
}

.quiz {
    background-image: url('img/quiz.jpg');
}